<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ai-worklog.worker</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__RUNNER_PATH__</string>
    <string>--project-root</string>
    <string>__PROJECT_ROOT__</string>
    <string>--node</string>
    <string>__NODE_BINARY__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>23</integer>
    <key>Minute</key>
    <integer>40</integer>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>Nice</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>__LOG_DIRECTORY__/worker-schedule.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIRECTORY__/worker-schedule-error.log</string>
</dict>
</plist>
